{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administracion | Usuario | Agregar{% endblock %}

{% block dataAdmin %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Agregar Usuario</div>
          <!-- Table -->
          <div class="panel-body">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
                {# <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">              <input type="hidden" name="token" value="{{token}}">
              <div class="form-group">
                <div class="col-md-4">
                  <label for="username">Nombre de Usuario</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de Usuario" required>
                </div>
                <div class="col-md-4">
                  <label for="password">Contrase&ntilde;a</label>
                  <input type="password" class="form-control" id="password" name="pass" placeholder="Contraseña" required>
                </div>
                <div class="col-md-4">
                  <label for="rol">Rol</label>
                  <select class="form-control" name="rol" required>
                    {% for rol in roles %}
                      <option value="{{rol.id}}">{{rol.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary col-md-12">Agregar Usuario</button>
            </form> #}
          </div>
      </div>
      <script type="text/javascript">

      </script>
{% endblock %}
