{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administracion | Usuario | Agregar{% endblock %}

{% block dataAdmin %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Editar Usuario</div>
          <!-- Table -->
          <div class="panel-body">
            {{ form_start(edit_form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="col-md-6">
              <div class="col-md-12">
                {{ form_label(edit_form.username) }}
                {{ form_widget(edit_form.username, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12">
                {{ form_label(edit_form.plainPassword.first) }}
                {{ form_widget(edit_form.plainPassword.first, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12">
                {{ form_label(edit_form.plainPassword.second) }}
                {{ form_widget(edit_form.plainPassword.second, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                {{ form_label(edit_form.email) }}
                {{ form_widget(edit_form.email, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12">
                  {{ form_label(edit_form.roles) }}
                  {{ form_widget(edit_form.roles, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>

            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary col-md-12">Editar Usuario</button>
            </div>
            {{ form_end(edit_form) }}
            </div>
          </div>
      </div>
      <script type="text/javascript">

      </script>
{% endblock %}
