{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Responsables | Agregar{% endblock %}

{% block dataAdmin %}
	<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Agregar Responsable</div>
    <!-- Table -->
    <div class="panel-body">

       {# {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }} #}

      {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group col-md-12">
          <div class="col-md-6">
              {{ form_label(form.nombre) }}
              {{ form_widget(form.nombre, {'attr': {'class':'form-control'}}) }}
          </div>
          <div class="col-md-6">
              {{ form_label(form.apellido) }}
              {{ form_widget(form.apellido, {'attr': {'class':'form-control'}}) }}
          </div> 
        </div>
        <div class="form-group col-md-12">
          <div class="col-md-4">
              {{ form_label(form.fechaNacimiento) }}
              {{ form_widget(form.fechaNacimiento, {'attr': {'class':'form-control'}}) }}
          </div>  
          <div class="col-md-4">
              {{ form_label(form.tipoDNI) }}
              {{ form_widget(form.tipoDNI, {'attr': {'class':'form-control'}}) }}
          </div> 
          <div class="col-md-4">
              {{ form_label(form.dni) }}
              {{ form_widget(form.dni, {'attr': {'class':'form-control'}}) }}
          </div> 
        </div>
        <div class="form-group col-md-12">
          <div class="col-md-3">
              {{ form_label(form.sexo) }}
              {{ form_widget(form.sexo, {'attr': {'class':'form-control'}} )}}
          </div>
          <div class="col-md-4">
              {{ form_label(form.telefono) }}
              {{ form_widget(form.telefono, {'attr': {'class':'form-control'}}) }}
          </div> 
          <div class="col-md-5">
              {{ form_label(form.email) }}
              {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
          </div>               
          <div class="form-group col-md-12">
              <div class="col-md-4">
                  {{ form_label(form.tipoResponsable) }}
                  {{ form_widget(form.tipoResponsable, {'attr': {'class':'form-control'}}) }}
              </div> 
              <div class="col-md-4">
                  {{ form_label(form.usuario) }}
                  {{ form_widget(form.usuario, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-4">
                  {{ form_label(form.direccion) }}
                  {{ form_widget(form.direccion, {'attr': {'class':'form-control'}}) }}
              </div>
          </div>   
              <div class="col-md-4 form-group">
                  {{ form_label(form.alumnos) }}
                  {{ form_widget(form.alumnos, {'attr': {'class':'form-control'}}) }}
              </div>                 
    
          {# <div class="col-md-6">
              {{ form_label(form.alumnos) }}
              {{ form_widget(form.alumnos, {'attr': {'class':'form-control'}}) }}
          </div> 
            
              <div class="form-group">
                <div class="col-md-5">
                  <label>Agregar Alumno</label>
                  <select class="ancho form-control" id="alumnos" size="5">
                    {% for alumno in allAlumnos %}
                      <option value="{{alumno.id}}">
                        {{alumno.nombre ~ " " ~ alumno.apellido}} | {{alumno.dni}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-1 margin-top1">
                  <div id="add" class="btn btn-chico btn-primary btn-chico margin-top1">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
                <div class="col-md-5">
                  <label>Alumnos Agregados</label>
                  <ul id="listAlumnos" class="list-group">
                  </ul>  
                </div>
              </div>
              #}
        {{ form_label(form.button) }}
            {{ form_widget(form.button, {'attr': {'class':'form-control btn btn-primary col-md-12'}, 'label': 'Agregar Responsable'}) }}

      {{ form_end(form) }}
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function() {
        $('#alumnos').selectFilter({
            filterClass: 'filter-bar form-control',
            minimumCharacters: 2,
            inputPlaceholder: 'Buscar',
            width: '100%',
            minimumSelectElementSize: 5,
            inputLocation: 'above'
        });

        $('#add').click(function(){
          if ($("#list_"+$("#alumnos").val()).length == 0) {
            var txt = "<li class='list-group-item' id='list_"+$('#alumnos').val()+"'>"+$('#alumnos option:selected').text()+" <span class='badge rmItem'>X</span><input name='alumnos[]'  type='hidden' value='"+$('#alumnos').val()+"'/> </li> ";
            $('#listAlumnos').append(txt);
            $('.rmItem').click(function(){
              $(this).parent().remove();
            });

          };
        });
    });
  </script>
{% endblock %}
