{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}
{% block title %} Administración | Cuotas | Ver{% endblock %}

{% block dataAdmin %}
    {% if msjImpagas is defined %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Atención! </strong>{{msjImpagas}}
        </div>
    {% endif %}

    {% if msjPagas is defined %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Atención! </strong>{{msjPagas}}
        </div>
    {% endif %}

<!-- ##################################### cuotas no pagas ################################### -->


    {% if tieneCuotasImpagas %}
    {% set type = is_granted('ROLE_SUPER_ADMIN') ? 'becar' : 'pagar'%}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Listado de Cuotas Impagas | {{alumno.nombre ~ " " ~ alumno.apellido}}</div>
          <!-- Table -->
          <div class="panel-body" id="paginacion2">

            <div class="input-group col-md-12">
                <div class="input-group-addon">
                  <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-filter"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                    <li role="presentation">
                        <input type="checkbox" name="busqueda2" value="anio" checked>
                        <label>Año</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda2" value="mes" checked>
                        <label>Mes</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda2" value="tipo" checked>
                        <label>Tipo</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda2" value="monto" checked>
                        <label>Monto</label>
                    </li>
                  </ul>
                </div>
                <input type="text" class="input-busqueda2 form-control" placeholder="Inicie su búsqueda aquí" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            </div>

            <table class="table table-hover">
              <thead>
                <tr>

                  <th>
                    <button class="sort btn" data-sort="anio">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Año
                  </th>
                  <th>
                    <button class="sort btn" data-sort="mes">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Mes
                  </th>
                  <th>
                    <button class="sort btn" data-sort="tipo">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Tipo
                  </th>
                  <th>
                    <button class="sort btn" data-sort="monto">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Monto
                  </th>

                  <th>{{type|title}}</th>

                </tr>
              </thead>
              <tbody class="list2">
                {% if esNuevo %}
                    <tr>
                        <td class="anio">{{cuotaIngreso.anio}}</td>
                        <td class="mes">{{cuotaIngreso.mes}}</td>
                        <td class="tipo">{{cuotaIngreso.tipo}}</td>
                        <td class="monto">{{cuotaIngreso.monto}}</td>
                        <td>
                          <div class="pago btn btn-primary" tipo="nuevo"  accion="agregar" monto="{{cuotaIngreso.monto}}" cuota-id="{{cuotaIngreso.id}}" title='{{type}}'>
                                <span class='glyphicon glyphicon-ok' ></span>
                            </div>
                        </td>
                  </tr>
                {% endif %}
  	            {% for cuota in cuotasImpagas %}
  	              <tr>
  	                <td class="anio">{{cuota.anio}}</td>
  	                <td class="mes">{{ cuota.mes }}</td>
                    <td class="tipo">{{cuota.tipo}}</td>
                    <td class="monto">{{cuota.monto}}</td>
                    <td>
                        <div class="pago btn btn-primary" tipo="{{type}}" accion="agregar" monto="{{cuota.monto}}" cuota-id="{{cuota.id}}" title='{{type}}'>
                            <span class='glyphicon glyphicon-ok' ></span>
                        </div>
                    </td>
  	              </tr>
  	            {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination2"></ul>
            </div>
          </div>
          <div class="panel-footer">

            <div class="col-md-4">
                Total a Pagar <span class="label label-danger" id="totalAPagar">0</span>
            </div>

            <div class="col-md-4">
                Total Seleccionado<span class="label label-success" id="totalSeleccionado">0</span>
            </div>

            <div class="col-md-4">
                <div class="btn-group btn-group-sm col-md-12" role="group" >
                  <button type="button" id="pagarSeleccion" class="btn btn-danger col-md-12">Pagar</button>
                </div>
            </div>
          </div>
          <form id="formulario" action="{{path ('pago_seleccionado')}}" method="post">

            <input type="hidden" name="alumnoId" value="{{alumno.id}}">
            <div id="inputs">

            </div>
          </form>
      </div>
    {% endif %}

<!-- ##################################### cuotas pagas ################################### -->

    {% if tieneCuotasPagas %}
      <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Listado de Cuotas Pagas | {{alumno.nombre ~ " " ~ alumno.apellido}}</div>
          <!-- Table -->
          <div class="panel-body" id="paginacion">
              <div class="input-group col-md-12">
                <div class="input-group-addon">
                  <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-filter"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="anio" checked>
                        <label>Año</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="mes" checked>
                        <label>Mes</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="tipo" checked>
                        <label>Tipo</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="monto" checked>
                        <label>Monto</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="cobrador" checked>
                        <label>Cobrador</label>
                    </li>
                  </ul>
                </div>
                <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

            </div>


            <table class="table table-hover">
              <thead>
                <tr>
                  <th>
                    <button class="sort btn" data-sort="anio">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Año
                  </th>
                  <th>
                    <button class="sort btn" data-sort="mes">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Mes
                  </th>
                  <th>
                    <button class="sort btn" data-sort="tipo">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Tipo
                  </th>
                    <th>
                    <button class="sort btn" data-sort="becado">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Becado
                  </th>
                  <th>
                    <button class="sort btn" data-sort="monto">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Monto
                  </th>
                  <th>
                    <button class="sort btn" data-sort="cobrador">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Cobrador
                  </th>

                </tr>
              </thead>
              <tbody class="list">
                {% for cuota in cuotasPagas %}
                  <tr>
                    <td class="anio">{{cuota.data.anio}}</td>
                    <td class="mes">{{ cuota.data.mes }}</td>
                    <td class="tipo">{{cuota.data.tipo}}</td>
                    <td class="becado">{% if cuota.beca %} si {% else %} no {% endif %}</td>
                    <td class="monto">{{cuota.data.monto}}</td>
                    <td class="cobrador">{{cuota.cobrador}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
          </div>
      </div>
    {% endif %}

      <script type="text/javascript">
        function total() {
           this.total = 0;
           this.aPagar = 0;
           var obj = this;
           $(".pago").each(function() {
             obj.total += parseFloat($(this).attr('monto'));
           });
           $('.pago').click(function(){
             console.log('entro al pago');
             $(this).toggleClass("btn-primary btn-danger");
             $(this).children().toggleClass("glyphicon-ok glyphicon-remove");
             var id = $(this).attr('cuota-id');
             var monto = $(this).attr('monto');
             var accion = $(this).attr('accion');
             var tipo = $(this).attr('tipo');
             if (tipo == "pagar") {
               if (accion == "agregar") {
                 obj.aPagar+=parseFloat(monto);
               }else {
                 obj.aPagar-=parseFloat(monto);
               }
             }
             if(tipo == 'nuevo'){
               var name="nuevo";
             }else{
               var name="cuota"
             }
             if (accion == "agregar") {
               console.log('entro a crear el input');
               var text = "<input type='hidden' name='"+name+"[]' id='"+tipo+"_"+id+"'' monto='"+monto+"' value='"+id+"'>";
               $('#inputs').append(text);
               $(this).attr('accion','quitar');
             }else{
               $(this).attr('accion','agregar');
               $('#'+tipo+"_"+id).remove();
             }
              obj.actualizarTotal();
           });

           this.actualizarTotal = function(){
            $('#totalSeleccionado').text('$ '+ this.aPagar);
            $('#totalAPagar').text('$ '+ this.total);
           }

           this.actualizarTotal();

           $('#pagarSeleccion').click(function(){
            var r = confirm("Está seguro que desea realizar el pago?");
            if (r == true) {
                $('#formulario').submit();
            }
          });
        }

        $( document ).ready(function() {
          new total();

          var monkeyList2 = new List('paginacion2', {
              valueNames: [ 'anio','mes','numero','tipo', 'monto'],
              page: '{{ render(url('paginacion')) }}',
              plugins: [ ListPagination({}) ]
          });

          $(".input-busqueda2").keyup(function(){
              filtros = [];
              $("input[name='busqueda2']:checked").each(function() {
                  filtros.push($(this).val());
              });
              monkeyList2.search($(this).val(), filtros);
          });

          var monkeyList = new List('paginacion', {
             valueNames: [ 'anio','mes','numero','tipo', 'monto', "comision", "fechaAlta"],
             page: '{{ render(url('paginacion')) }}',
             plugins: [ ListPagination({}) ]
         });

         $(".input-busqueda").keyup(function(){
             filtros = [];
             $("input[name='busqueda']:checked").each(function() {
                 filtros.push($(this).val());
             });
             monkeyList.search($(this).val(), filtros)
         });
        });

    </script>
{% endblock %}
