{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Alumnos | Editar{% endblock %}

{% block dataAdmin %}
    <div class="panel panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading">Editar Alumno ~ {{alumno.nombre}} {{alumno.apellido}}</div>
      <!-- Table -->
        <div class="panel-body">

   {# {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Create" />
    {{ form_end(edit_form) }} #}

            {{ form_start(edit_form,  {'attr': {'id':'form'}}) }}
                {% do edit_form.saldo.setRendered %}
                {{ form_errors(edit_form) }}

                <div class="col-md-4">
                    {{ form_label(edit_form.nombre) }}
                    {{ form_widget(edit_form.nombre, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(edit_form.apellido) }}
                    {{ form_widget(edit_form.apellido, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(edit_form.fechaNacimiento) }}
          					<div class='input-group date datetimepicker9'>
          							{{form_widget(edit_form.fechaNacimiento, {'attr': {'class': 'form-control' }} )}}
          							<span class="input-group-addon">
          									<span class="glyphicon glyphicon-calendar">
          									</span>
          							</span>
          					</div>
                </div>

                <div class="col-md-3">
                    {{ form_label(edit_form.dni) }}
                    {{ form_widget(edit_form.dni, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(edit_form.telefono) }}
                    {{ form_widget(edit_form.telefono, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(edit_form.direccion) }}
                    {{ form_widget(edit_form.direccion, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_label(edit_form.saldo) }}
                    {{ form_widget(edit_form.saldo, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="col-md-5">
                    {{ form_label(edit_form.email) }}
                    {{ form_widget(edit_form.email, {'attr': {'class':'form-control'}}) }}
                </div>

            <div class="col-md-3">
                    {{ form_label(edit_form.nivel) }}
                    {{ form_widget(edit_form.nivel, {'attr': {'class':'form-control'}}) }}
            </div>

              <div class="col-md-2">
                    {{ form_label(edit_form.curso) }}
                    {{ form_widget(edit_form.curso, {'attr': {'class':'form-control'}}) }}
            </div>

              <div class="col-md-2">
                    {{ form_label(edit_form.division) }}
                    {{ form_widget(edit_form.division, {'attr': {'class':'form-control'}}) }}
            </div>

            <div class="col-md-2">
                    {{ form_label(edit_form.anioIngreso) }}
                    {{ form_widget(edit_form.anioIngreso, {'attr': {'class':'form-control'}}) }}
            </div>

              <div class="col-md-4">
                    {{ form_label(edit_form.contacto) }}
                    {{ form_widget(edit_form.contacto, {'attr': {'class':'form-control'}}) }}
            </div>

              <div class="col-md-4">
                    {{ form_label(edit_form.comentario) }}
                    {{ form_widget(edit_form.comentario, {'attr': {'class':'form-control'}}) }}
            </div>

            <div class="col-md-2">
                    {{ form_label(edit_form.nuevo) }}
                    {{ form_widget(edit_form.nuevo, {'attr': {'class':'form-control'}}) }}
            </div>

              <div class="col-md-12 form-group">
          				{{ form_label(edit_form.button) }}
          				{{ form_widget(edit_form.button, {'attr': {'class':'form-control btn btn-primary col-md-12'}, 'label': 'Editar Alumno'}) }}
          		</div>
            {{ form_end(edit_form) }}

        </div>
    </div>

  <script type="text/javascript">
  $(document).ready(function() {
      $('.datetimepicker9').datetimepicker({
        viewMode: 'years',
        format: 'DD/MM/YYYY'
      });

      $("#form").trigger("chosen:updated");

  });

  </script>
{% endblock %}

{% block addJS %}

<script type="text/javascript" src="{{ asset('bundles/js/chosen.jquery.min.js') }}"></script>
{% endblock %}
