{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Alumnos | Agregar{% endblock %}

{% block dataAdmin %}
	<div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Agregar Alumno</div>
      <!-- Table -->
      <div class="panel-body">


  {{ form_start(form,  {'attr': {'id':'form'}}) }}
    {{ form_errors(form) }}
      <div class="col-md-5">
          {{ form_label(form.nombre) }}
          {{ form_widget(form.nombre, {'attr': {'class':'form-control'}}) }}
      </div>
      <div class="col-md-5">
          {{ form_label(form.apellido) }}
          {{ form_widget(form.apellido, {'attr': {'class':'form-control'}}) }}
      </div>
          <div class="col-md-2">
          {{ form_label(form.nuevo) }}
          {{ form_widget(form.nuevo, {'attr': {'class':'form-control'}}) }}
      </div>
      <div class="col-md-4">
          {{ form_label(form.fechaNacimiento) }}
					<div class='input-group date datetimepicker9'>
							{{form_widget(form.fechaNacimiento, {'attr': {'class': 'form-control' }} )}}
							<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar">
									</span>
							</span>
					</div>
      </div>
      
      <div class="col-md-4">
          {{ form_label(form.dni) }}
          {{ form_widget(form.dni, {'attr': {'class':'form-control'}}) }}
      </div>
      <div class="col-md-4">
          {{ form_label(form.telefono) }}
          {{ form_widget(form.telefono, {'attr': {'class':'form-control'}}) }}
      </div>
          <div class="col-md-4">
          {{ form_label(form.direccion) }}
          {{ form_widget(form.direccion, {'attr': {'class':'form-control'}}) }}
      </div>
      <div class="col-md-4">
          {{ form_label(form.email) }}
          {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
      </div>
      
          <div class="col-md-4">
          {{ form_label(form.contacto) }}
          {{ form_widget(form.contacto, {'attr': {'class':'form-control'}}) }}
      </div>
          
        <div class="col-md-4">
          {{ form_label(form.nivel) }}
          {{ form_widget(form.nivel, {'attr': {'class':'form-control'}}) }}
      </div>
          
        <div class="col-md-2">
          {{ form_label(form.curso) }}
          {{ form_widget(form.curso, {'attr': {'class':'form-control'}}) }}
      </div>
          
     <div class="col-md-2">
          {{ form_label(form.division) }}
          {{ form_widget(form.division, {'attr': {'class':'form-control'}}) }}
      </div>

      <div class="col-md-2">
          {{ form_label(form.anioIngreso) }}
          {{ form_widget(form.anioIngreso, {'attr': {'class':'form-control'}}) }}
      </div> 

      <div class="col-md-2">
          {{ form_label(form.saldoFavor) }}
          {{ form_widget(form.saldoFavor, {'attr': {'class':'form-control'}}) }}
      </div>
          
    <!-- <div class="col-md-4">
          {{ form_label(form.comentario) }}
          {{ form_widget(form.comentario, {'attr': {'class':'form-control'}}) }}
      </div> -->

     
		<div class="col-md-12 form-group">
				{{ form_label(form.button) }}
				{{ form_widget(form.button, {'attr': {'class':'form-control btn btn-primary col-md-12'}, 'label': 'Agregar Alumno'}) }}
		</div>


{{ form_end(form) }}

      </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
			$('.datetimepicker9').datetimepicker({
				viewMode: 'years',
				format: 'YYYY-MM-DD hh:mm:ss'
			});
			$("#form").trigger("chosen:updated");
  });

  </script>
{% endblock %}

{% block addJS %}
<script type="text/javascript" src="{{ asset('bundles/js/chosen.jquery.min.js') }}"></script>
{% endblock %}
