{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block dataAdmin %}
    
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Detalles del Alumno</div>
        <!-- Table -->
        <div class="panel-body">
            <div class="form-group col-md-12">

                <div class="col-md-4">
                    <label for="nombre">Nombre</label>
                    <div class="form-control">{{alumno.nombre}}</div>
                </div>
                <div class="col-md-4">
                    <label for="apellido">Apellido</label>
                    <div class="form-control" > {{alumno.apellido}}</div>
                </div>
                <div class="col-md-2">
                    <label for="apellido">Nuevo</label>
                    <div class="form-control" > {% if alumno.nuevo %} Si {% else %} No {% endif %}</div>
                </div>
                <div class="col-md-2">
                    <label for="ingreso">Año Ingreso</label>
                    <div class="form-control" > {{alumno.anioIngreso}}</div>
                </div>

            </div>
            <div class="form-group col-md-12">

                <div class="col-md-3">
                    <label for="fechaNac">Fecha de Nacimiento</label>
                    <div class="form-control">{{alumno.fechaNacimiento }}</div>
                </div>
                
                <div class="col-md-3">
                    <label for="dni">Número Documento</label>
                    <div class="form-control">{{alumno.dni}}</div>
                </div>
                <div class="col-md-3">
                    <label for="telefono">Teléfono</label>
                    <div class="form-control">{{alumno.telefono}}</div>
                </div>
                <div class="col-md-3">
                    <label for="saldo">Saldo</label>
                    <div class="form-control">{{alumno.saldo}}</div>
                </div>
            </div> 
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <label for="direccion">Dirección</label>
                    <div class="form-control">{{alumno.direccion}}</div>
                </div>
                <div class="col-md-4">
                    <label for="email">Email</label>
                    <div class="form-control" >{{alumno.email}}</div>
                </div>
                <div class="col-md-4">
                    <label for="contacto">Contacto</label>
                    <div class="form-control">{{alumno.contacto}}</div>
                </div>
                  
            </div>
            
            <div class="form-group col-md-12">
              
                <div class="col-md-4">
                    <label for="nivel">Nivel</label>
                    <div class="form-control">{% if alumno.nivel == "P" %} Primaria {% else %} Inicial/Jardín {% endif %}</div>
                </div>
                
                  <div class="col-md-2">
                    <label for="curso">Curso</label>
                    <div class="form-control">{{alumno.curso}}</div>
                </div>
                
                  <div class="col-md-2">
                    <label for="division">División</label>
                    <div class="form-control">{{alumno.division}}</div>
                </div>
                
                  <div class="col-md-4">
                    <label for="comentario">Comentarios</label>
                    <div class="form-control">{{alumno.comentario}}</div>
                </div>

            </div>
           
        </div>
    </div>
{% endblock %}
