{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsable list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Borrado</th>
                <th>Tipodni</th>
                <th>Dni</th>
                <th>Tiporesponsable</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Fechanacimiento</th>
                <th>Sexo</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsable in responsables %}
            <tr>
                <td><a href="{{ path('responsable_show', { 'id': responsable.id }) }}">{{ responsable.id }}</a></td>
                <td>{% if responsable.borrado %}Yes{% else %}No{% endif %}</td>
                <td>{{ responsable.tipoDNI }}</td>
                <td>{{ responsable.dni }}</td>
                <td>{{ responsable.tipoResponsable }}</td>
                <td>{{ responsable.apellido }}</td>
                <td>{{ responsable.nombre }}</td>
                <td>{{ responsable.fechaNacimiento }}</td>
                <td>{{ responsable.sexo }}</td>
                <td>{{ responsable.email }}</td>
                <td>{{ responsable.telefono }}</td>
                <td>{{ responsable.direccion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('responsable_show', { 'id': responsable.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('responsable_edit', { 'id': responsable.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsable_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
