{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Cuotas | Listado {% endblock %}

{% block dataAdmin %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-primary botonAdd" href="{{ path('cuota_new') }}">Agregar Cuota</a>
    {% endif %}

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Listado de Cuotas</div>
      <!-- Table -->
      <div class="panel-body"> 

        <table class="table">
          <thead>
            <tr>
                <th>
                  <button class="sort btn" data-sort="anio">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                    Año
                </th>
                <th>
                  <button class="sort btn" data-sort="mes">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Mes
                </th>
                <th>
                  <button class="sort btn" data-sort="numero">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Número
                </th>
                <th>
                  <button class="sort btn" data-sort="tipo">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Tipo
                </th>
                <th>
                  <button class="sort btn" data-sort="monto">
                      <span class="glyphicon glyphicon-sort"></span> 
                  </button>
                  Monto
                </th> 
                <th>
                  <button class="sort btn" data-sort="comision">
                      <span class="glyphicon glyphicon-sort"></span> 
                  </button>
                  Comisión Cobrador
                </th>
                <th>
                  <button class="sort btn" data-sort="fechaAlta">
                      <span class="glyphicon glyphicon-sort"></span> 
                  </button>
                  Fecha de Alta
                </th>                   
                <th>Acciones</th>
            </tr>
          </thead>
              <tbody>
                {% for cuota in cuotas %}
                    <tr>                           
                        <td>{{ cuota.anio }}</td>
                        <td>{{ cuota.mes }}</td>
                        <td>{{ cuota.numero }}</td>
                        <td>{{ cuota.tipo }}</td>
                        <td>{{ cuota.monto }}</td>
                        <td>{{ cuota.comisionCobrador }}</td>
                        <td>{{ cuota.fechaAlta | date("d-m-Y") }}</td>
                        <td>
                            <div class="">

                              {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_GESTION') %}
                                  <a class="btn btn-primary" href="{{ path('cuota_edit', { 'id': cuota.id }) }}" title="Editar"><span class='glyphicon glyphicon-pencil' ></span></a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="btn btn-danger" href="{{path('cuota_delete', { 'id':  cuota.id })}}" title='Eliminar'><span class='glyphicon glyphicon-remove'></span></a>
                                {% endif %}
                              {% endif %}
                              
                            </div>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

{% endblock %}
