{% block content -%}
{% trans_default_domain 'FOSUserBundle' %}
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile.show.username'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.username }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile.show.email'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.email }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Nombre'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.nombre }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Apellido'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.apellido }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'DNI'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.dni }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Fecha de Nacimiento'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.fechaNacimiento | date('Y-m-d') }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Teléfono'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.telefono }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Carrera'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.carrera }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Direeción'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.direccion }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Rol'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ app.user.roles[0] |replace({'ROLE_SUPER_ADMIN': "Super Administrador", 'ROLE_ADMIN': "Administrador", 'ROLE_USER': "Editor", 'ROLE_VIEW': "Veedor"}) }}</p>
        </div>
    </div>
</form>
{#<button type="button" class="btn btn-primary pull-left dropdown-toggle distanciaa" data-toggle="modal" data-target="#myModal">
Cambiar Contraseña
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 12%;">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Cambiar Contraseña</h4>
        </div>
        <div class="modal-body">
              {{ form_start(form) }}
              {{ form_widget(form._token) }}
              <div class="form-group"> 
                  {{ form_label(form.current_password)}}
                  {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group"> 
                  {{ form_label(form.new.first)}}
                  {{ form_widget(form.new.first, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="form-group"> 
                  {{ form_label(form.new.second)}}
                  {{ form_widget(form.new.second, {'attr': {'class': 'form-control'}}) }}
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
        {{ form_end(form) }}
      </div>
  </div>
</div>#}
        
<a class="btn btn-primary distanciaa" href="{{ path('fos_user_profile_edit') }}">Editar</a>
<a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">Change Password</a>
<a href="{{path('inicio')}}">
  <div class="btn btn-primary dropdown-toggle distanciaa">
      <span class="glyphicon glyphicon-share-alt"></span>
  </div>
</a>
{% endblock %}