{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsable</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ responsable.id }}</td>
            </tr>
            <tr>
                <th>Borrado</th>
                <td>{% if responsable.borrado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Tipodni</th>
                <td>{{ responsable.tipoDNI }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ responsable.dni }}</td>
            </tr>
            <tr>
                <th>Tiporesponsable</th>
                <td>{{ responsable.tipoResponsable }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ responsable.apellido }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ responsable.nombre }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ responsable.fechaNacimiento }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ responsable.sexo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ responsable.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ responsable.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ responsable.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsable_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('responsable_edit', { 'id': responsable.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
