{% extends 'AnexaCooperadoraBundle::base.html.twig' %}

{% block addJS %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block page %}
	{% if (data.2 is defined) and (data.2.valorNumerico == 1) %}

		{% block menu %}
			{% include 'AnexaCooperadoraBundle:frontend:nav.html.twig' %}
		{% endblock %}

		{% block cuerpo %}
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">Descripci칩n</div>
				  	<div class="panel-body">
				  	<p>{{data.0.valorTextual }}</p>
				  	<div class="thumbnail">
				      <img src="{{asset('bundles/img/slider.jpg')}}" alt="Foto de la Anexa">
				    </div>
				  	</div>
				</div>
			</div>
			<div class="col-md-4">
				{% for label, messages in app.flashes(['success', 'danger']) %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <strong>Atenci칩n!</strong> <br>{{message}}
						</div>
					{% endfor %}
				{% endfor %}


				<div class="panel panel-default">
					<div class="panel-heading">Contacto</div>
				  	<div class="panel-body">
								{{ form_start(form,  {'attr': {'id':'form'}}) }}
									{{ form_errors(form) }}
										<div class="form-group">
												{{ form_label(form.name) }}
												{{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
										</div>
										<div class="form-group">
												{{ form_label(form.email) }}
												{{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
										</div>
										<div class="form-group">
												{{ form_label(form.cel) }}
												{{ form_widget(form.cel, {'attr': {'class':'form-control'}}) }}
										</div>
										<div class="form-group">
												{{ form_label(form.body) }}
												{{ form_widget(form.body, {'attr': {'class':'form-control'}}) }}
										</div>

										<div class="col-md-12">
											<div class="g-recaptcha" data-sitekey="6LcA5ZMUAAAAANvV5r_zUooCn9youC-xzdfjM-Xz"></div>
										</div>
								{{ form_end(form) }}
				  	</div>
				</div>
			</div>
		{% endblock cuerpo%}
	{% else %}
		<div class="container">
	        <div class="row">
				<div class="margin-top2 margin-left">
					<div class="col-md-5 col-md-offset-3">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<span class="glyphicon glyphicon-lock">
									Atenci칩n!!!
								</span>
							</div>
								<div class="panel-body">
									{{ data.3.valorTextual }}
								</div>
								<div class="panel-footer">
									Intente ingresar m치s tarde
								</div>
						</div>
					</div>
				</div>
	        </div>
	  	</div>
	{% endif %}

{% endblock %}
