{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Cobros Realizados {% endblock %}

{% block dataAdmin %}

    <div class="panel panel-primary" id="paginacion">
      <!-- Default panel contents -->
      <div class="panel-heading">Listado de Cuotas</div>
      <!-- Table -->
      <div class="panel-body">
        <div class="input-group col-md-12">
            <div class="input-group-addon">
              <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span class="glyphicon glyphicon-filter"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="alumno" checked>
                    <label>Alumno</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="mes" checked>
                    <label>Mes</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="fecha" checked>
                    <label>Fecha</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="monto" checked>
                    <label>Monto</label>
                </li>
              </ul>
            </div>
            <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
        <table class="table">
          <thead>
            <tr>
                <th>
                  <button class="sort btn" data-sort="alumno">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                    Alumno
                </th>
                <th>
                  <button class="sort btn" data-sort="mes">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Mes
                </th>
                <th>
                  <button class="sort btn" data-sort="fecha">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Fecha
                </th>
                <th>
                  <button class="sort btn" data-sort="monto">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Monto
                </th>
                <th>Acciones</th>
            </tr>
          </thead>
              <tbody class='list'>
                {% for cobro in cobros %}
                    <tr>
                        <td class="alumno">{{ cobro.alumno.nombre }}</td>
                        <td class="mes">{{ cobro.cuota.mes }}</td>
                        <td class="fecha">{{ cobro.fecha }}</td>
                        <td class="monto">{{ cobro.cuota.monto }}</td>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
            var monkeyList = new List('paginacion', {
              valueNames: ['alumno','mes', "fecha", 'monto'],
              page: '{{ render(url('paginacion')) }}',
              plugins: [ ListPagination({}) ]
          });
        });
    </script>

{% endblock %}
