{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Cobros Realizados {% endblock %}

{% block dataAdmin %}

    <div class="panel panel-primary" id="paginacion">
      <!-- Default panel contents -->
      <div class="panel-heading">Listado de Cuotas</div>
      <!-- Table -->
      <div class="panel-body"> 

        <table class="table">
          <thead>
                    <tr>
                      <th>
                        <button class="sort btn" data-sort="dni">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        DNI
                      </th>
                      
                      <th>
                        <button class="sort btn" data-sort="nombre">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Nombre
                      </th>
                        
                        <th>
                        <button class="sort btn" data-sort="apellido">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Apellido
                      </th>
                        
                    <th>
                        <button class="sort btn" data-sort="cuota">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Cuota
                      </th>
                    
                    <th>
                        <button class="sort btn" data-sort="monto">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Monto
                    </th>
                        
                    <th>
                        <button class="sort btn" data-sort="fecha">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Fecha de Cobro
                      </th>
                    </tr>
                </thead>
              <tbody class='list'>
                {% for cobro in cobros %}
                    <tr>
                        <td>{{ cobro.alumno.dni }}</td>
                        <td>{{ cobro.alumno.nombre }}</td>
                        <td>{{ cobro.alumno.apellido }}</td>
                        <td>{{ cobro.cuota.mes }}</td>
                        <td>{{ cobro.cuota.monto }}</td>
                        <td>{{ cobro.fecha|date("Y-m-d")  }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
        </div>

    <div class="panel-footer">

            <div class="col-md-4">
                <div class="btn-group btn-group-sm col-md-12" role="group" >
                  <button type="button" id="cerrarBalance" class="btn btn-danger col-md-12">Cerrar Balance</button>
                </div>
            </div>
    </div>
        
    {# <form id="formulario" action="{{path ('balance_cerrar')}}" method="post">

             <input type="hidden" name="alumnoId" value="{{alumno.id}}"> 
            <div id="inputs">

            </div>
          </form> #}
</div>

    <script type="text/javascript">
        $( document ).ready(function() {
            var monkeyList = new List('paginacion', {
              valueNames: ['numero', 'anio','mes','tipo', 'monto', "comision", "fechaAlta"],
              page: '{{ render(url('paginacion')) }}',
              plugins: [ ListPagination({}) ] 
          });
        $('#cerrarBalance').click(function(){
            var r = confirm("Está seguro que desea realizar el cierre?");
            if (r == true) {
                $('#formulario').submit();
            }
          });
        });
    </script>

{% endblock %}
