{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Cobros Realizados {% endblock %}

{% block dataAdmin %}

    <div class="panel panel-primary" id="paginacion">
      <!-- Default panel contents -->
      <div class="panel-heading">Listado de Cuotas</div>
      <!-- Table -->
      <div class="panel-body"> 

        <table class="table">
          <thead>
            <tr>
                <th>
                  <button class="sort btn" data-sort="anio">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                    Alumno
                </th>
                <th>
                  <button class="sort btn" data-sort="mes">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Cuota
                </th>
                <th>
                  <button class="sort btn" data-sort="tipo">
                      <span class="glyphicon glyphicon-sort"></span>
                  </button>
                  Fecha
                </th>
                <th>
                  <button class="sort btn" data-sort="monto">
                      <span class="glyphicon glyphicon-sort"></span> 
                  </button>
                  Monto
                </th>          
                <th>Acciones</th>
            </tr>
          </thead>
              <tbody class='list'>
                {% for cobro in cobros %}
                    <tr>                           
                        <td>{{ cobro.alumno.nombre }}</td>
                        <td>{{ cobro.cuota.mes }}</td>
                        <td>{{ cobro.fecha }}</td>
                        <td>{{ cobro.cuota.monto }}</td>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
            var monkeyList = new List('paginacion', {
              valueNames: ['numero', 'anio','mes','tipo', 'monto', "comision", "fechaAlta"],
              page: '{{ render(url('paginacion')) }}',
              plugins: [ ListPagination({}) ] 
          });
        });
    </script>

{% endblock %}
