{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Cobros Realizados {% endblock %}

{% block dataAdmin %}
    {% if cobros is defined %}
    <div class="panel panel-primary" id="paginacion">
      <!-- Default panel contents -->
      <div class="panel-heading">Listado de Cuotas</div>
      <!-- Table -->
      <div class="panel-body">
        <div class="input-group col-md-12">
            <div class="input-group-addon">
              <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span class="glyphicon glyphicon-filter"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="dni" checked>
                    <label>DNI</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="nombre" checked>
                    <label>Nombre</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="apellido" checked>
                    <label>Apellido</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="cuota" checked>
                    <label>Cuota</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="monto" checked>
                    <label>Monto</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="fecha" checked>
                    <label>Fecha</label>
                </li>
              </ul>
            </div>
            <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
        <table class="table">
          <thead>
                    <tr>
                      <th>
                        <button class="sort btn" data-sort="dni">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        DNI
                      </th>
                      
                      <th>
                        <button class="sort btn" data-sort="nombre">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Nombre
                      </th>
                        
                        <th>
                        <button class="sort btn" data-sort="apellido">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Apellido
                      </th>
                        
                    <th>
                        <button class="sort btn" data-sort="cuota">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Cuota
                      </th>
                    
                    <th>
                        <button class="sort btn" data-sort="monto">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Monto
                    </th>
                        
                    <th>
                        <button class="sort btn" data-sort="fecha">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Fecha de Cobro
                      </th>
                    </tr>
                </thead>
              <tbody class='list'>
                    {% for cobro in cobros %}
                        <tr>
                            <td class="dni">{{ cobro.alumno.dni }}</td>
                            <td class="nombre">{{ cobro.alumno.nombre }}</td>
                            <td class="apellido">{{ cobro.alumno.apellido }}</td>
                            <td class="cuota">{{ cobro.cuota.mes }}</td>
                            <td class="monto">{{ cobro.cuota.monto }}</td>
                            <td class="fecha">{{ cobro.fecha|date("Y-m-d")  }}</td>
                        </tr>
                    {% endfor %}
                  
              </tbody> 
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
        </div>
        {% if cierre is not defined %}
        <div class="panel-footer">
            <form id="formulario" action="{{path ('balance_index')}}" method="POST">
                <div class="col-md-4">
                    <div class="btn-group btn-group-sm col-md-12" role="group" >
                      <button type="submit" id="cerrarBalance" class="btn btn-danger col-md-12">Cerrar Balance</button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
            <div class="alert alert-success" role="alert">El cierre se efectuo correctamente!</div>
        {% endif%}
         
</div>
      {% else %}
        <div class="alert alert-danger" role="alert">no hay cobros realizados desde el ultimo cierre a la fecha</div>
      {% endif %}

    <script type="text/javascript">
        $( document ).ready(function() {
            var monkeyList = new List('paginacion', {
              valueNames: ['dni','nombre','apellido','cuota','monto', 'fecha'],
              page: '{{ render(url('paginacion')) }}',
              plugins: [ ListPagination({}) ]
            });
            $('#formulario').submit(function() {
                var r = confirm("Está seguro que desea realizar el cierre?");
                return r;
            });
        });
    </script>

{% endblock %}
