{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administracion | Usuario | Agregar{% endblock %}

{% block dataAdmin %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Agregar Usuario</div>
          <!-- Table -->
          <div class="panel-body">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="col-md-6">
              <div class="col-md-12">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12">
                  {{ form_label(form.roles) }}
                  {{ form_widget(form.roles, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12">
                  {{ form_label(form.tipoCobrador) }}
                  {{ form_widget(form.tipoCobrador, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="col-md-12">
              {{ form_label(form.habilitado) }}
              {{ form_widget(form.habilitado, {'attr': {'class':'form-control'}}) }}
            </div>

            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary col-md-12">Agregar Usuario</button>
            </div>
            {{ form_end(form) }}
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $('#user_tipoCobrador').parent().hide();
          $('#user_roles').change(function(event) {
            if ($(this).val() == "ROLE_COBRADOR") {
              $('#user_tipoCobrador').parent().show();
            }else{
              $('#user_tipoCobrador').parent().hide();
            }
          });

      </script>
{% endblock %}
