{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Alumnos | Agregar{% endblock %}

{% block dataAdmin %}
	<div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Agregar Alumno</div>
      <!-- Table -->
      <div class="panel-body">

   {# {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }} #}

  {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group col-md-12">
      <div class="col-md-6">
          {{ form_label(form.nombre) }}
          {{ form_widget(form.nombre, {'attr': {'class':'form-control'}}) }}
      </div>
      <div class="col-md-6">
          {{ form_label(form.apellido) }}
          {{ form_widget(form.apellido, {'attr': {'class':'form-control'}}) }}
      </div> 
    </div>
    <div class="form-group col-md-12">
      <div class="col-md-4 form-group">
          {{ form_label(form.fechaNacimiento) }}
          {{ form_widget(form.fechaNacimiento, {'attr': {'class':'form-control'}}) }}
      </div>  
      <div class="col-md-4">
          {{ form_label(form.tipoDNI) }}
          {{ form_widget(form.tipoDNI, {'attr': {'class':'form-control'}}) }}
      </div> 
      <div class="col-md-4">
          {{ form_label(form.dni) }}
          {{ form_widget(form.dni, {'attr': {'class':'form-control'}}) }}
      </div> 
    </div>
    <div class="form-group col-md-12">
      <div class="col-md-3">
          {{ form_label(form.sexo) }}
          {{ form_widget(form.sexo, {'attr': {'class':'form-control'}} )}}
      </div>
      <div class="col-md-4">
          {{ form_label(form.telefono) }}
          {{ form_widget(form.telefono, {'attr': {'class':'form-control'}}) }}
      </div> 
      <div class="col-md-5">
          {{ form_label(form.email) }}
          {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
      </div>
    </div>
    <div class="form-group col-md-12">
      <div class="col-md-4 form-group">
          {{ form_label(form.fechaAlta) }}
          {{ form_widget(form.fechaAlta, {'attr': {'class':'form-control'}}) }}
      </div>
      <div class="col-md-4">
          {{ form_label(form.fechaIngreso) }}
          {{ form_widget(form.fechaIngreso, {'attr': {'class':'form-control'}}) }}
      </div> 
      <div class="col-md-4">
          {{ form_label(form.fechaEgreso) }}
          {{ form_widget(form.fechaEgreso, {'attr': {'class':'form-control'}}) }}
      </div> 
    </div>
    <div class="form-group col-md-12">  
        <div class="col-md-4">
            {{ form_label(form.calle) }}
            {{ form_widget(form.calle, {'attr': {'class':'form-control'}}) }}
        </div> 

        <div class="col-md-4">
            {{ form_label(form.numero) }}
            {{ form_widget(form.numero, {'attr': {'class':'form-control'}}) }}
        </div> 
        <div class="col-md-4">
            {{ form_label(form.codigoPostal) }}
            {{ form_widget(form.codigoPostal, {'attr': {'class':'form-control'}}) }}
        </div> 
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-4">
            {{ form_label(form.ciudad) }}
            {{ form_widget(form.ciudad, {'attr': {'class':'form-control'}}) }}
        </div> 
        <div class="col-md-4">
            {{ form_label(form.provincia) }}
            {{ form_widget(form.provincia, {'attr': {'class':'form-control'}}) }}
        </div> 
        <div class="col-md-4">
            {{ form_label(form.pais) }}
            {{ form_widget(form.pais, {'attr': {'class':'form-control'}}) }}
        </div> 
    </div>
    
    <div class="form-group col-md-12"> 
        <div class="col-md-6">
            {{ form_label(form.latitud) }}
            {{ form_widget(form.latitud, {'attr': {'class':'form-control'}}) }}
        </div> 
        <div class="col-md-6">
            {{ form_label(form.longitud) }}
            {{ form_widget(form.longitud, {'attr': {'class':'form-control'}}) }}
        </div> 
    </div>
    <div class="col-md-6 form-group">
        {{ form_label(form.responsables) }}
        {{ form_widget(form.responsables, {'attr': {'class':'form-control'}}) }}
    </div>

        {{ form_label(form.button) }}
        {{ form_widget(form.button, {'attr': {'class':'form-control btn btn-primary col-md-12'}, 'label': 'Agregar Alumno'}) }}

     
{{ form_end(form) }}

      </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#responsables').selectFilter({
          filterClass: 'filter-bar form-control',
          minimumCharacters: 2,
          inputPlaceholder: 'Buscar',
          width: '100%',
          minimumSelectElementSize: 5,
          inputLocation: 'above'
      });

      $('#add').click(function(){
        if ($("#list_"+$("#responsables").val()).length == 0) {
          var txt = "<li class='list-group-item' id='list_"+$('#responsables').val()+"'>"+$('#responsables option:selected').text()+" <span class='badge rmItem rmItem'>X</span><input name='responsables[]'  type='hidden' value='"+$('#responsables').val()+"'/> </li> ";
          $('#listResponsables').append(txt);
          $('.rmItem').click(function(){
            $(this).parent().remove();
          });

        };
      });

      function loadMaps(){
        var lat            = -34.920797;
        var lon            =  -57.953198;
        var zoom           = 14;

        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

        map = new OpenLayers.Map("Map");
        var mapnik         = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);


        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        //markers.addMarker(new OpenLayers.Marker(position));
        map.setCenter(position, zoom);
      }

      loadMaps();
      $('.direccion').change(function(){
        var numero=$('#numero').val();
        var calle=$('#calle').val();
        var ciudad = $('#ciudad').val();
        var codigoPostal = $('#codigoPostal').val();
        var provincia = $('#provincia').val();
        var pais=$('#pais').val();
        var dir = numero + ", " + calle + ", " + ciudad + ", " + provincia + ", " + codigoPostal + ", " + pais;
        $.ajax({
          url : ' http://nominatim.openstreetmap.org/search?q='+dir+'&format=json&polygon=1&addressdetails=1',
          cache: false
        })
          .done(function( direcciones ) {
            if (!direcciones.length == 0){
              $('.opcion').remove();
              $(direcciones).each(function(index, dir){
                 $('#resultados').append('<option class="opcion" value="'+dir['place_id']+'" id="'+dir['place_id']+'" lat="'+dir['lat']+'" long="'+dir['lon']+'">'+dir['display_name']+'</option>');
              });
            }

          });
      });
      $('#resultados').change(function(){
        var option = $("#resultados option:selected");
        $('#long').val(option.attr('long'));
        $('#lat').val(option.attr('lat'));
        $('#direccion').val(option.text());
        var position       = new OpenLayers.LonLat(option.attr('long'), option.attr('lat'))
                              .transform(
                                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                map.getProjectionObject() // to Spherical Mercator Projection
                              );
        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));
        map.setCenter(position, 15);
      });
  });

  </script>
{% endblock %}

{% block addJS %}

<script src="{{asset("/js/openlayers-master/lib/OpenLayers.js")}}"></script>
<script src="{{asset("/js/jquery.select-filter.min.js")}}"></script>
{% endblock %}
