{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Responsable | Editar {% endblock %}

{% block dataAdmin %}
    <div class="panel panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading">Editar Responsable ~ {{responsable.nombre}} {{responsable.apellido}}</div>
      <!-- Table -->
        <div class="panel-body">

          {{ form_start(edit_form,  {'attr': {'id':'form'}}) }}
            {{ form_errors(edit_form) }}
              <div class="col-md-6">
                  {{ form_label(edit_form.nombre) }}
                  {{ form_widget(edit_form.nombre, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-6">
                  {{ form_label(edit_form.apellido) }}
                  {{ form_widget(edit_form.apellido, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-4">
                  {{ form_label(edit_form.fechaNacimiento) }}
                  <div class='input-group datetimepicker9'>
                      {{form_widget(edit_form.fechaNacimiento, {'attr': {'class': 'form-control' }} )}}
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar">
                          </span>
                      </span>
                  </div>
              </div>
              <div class="col-md-4">
                  {{ form_label(edit_form.tipoDNI) }}
                  {{ form_widget(edit_form.tipoDNI, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-4">
                  {{ form_label(edit_form.dni) }}
                  {{ form_widget(edit_form.dni, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-3">
                  {{ form_label(edit_form.sexo) }}
                  {{ form_widget(edit_form.sexo, {'attr': {'class':'form-control'}} )}}
              </div>
              <div class="col-md-4">
                  {{ form_label(edit_form.telefono) }}
                  {{ form_widget(edit_form.telefono, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-4">
                  {{ form_label(edit_form.tipoResponsable) }}
                  {{ form_widget(edit_form.tipoResponsable, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-6">
                  {{ form_label(edit_form.email) }}
                  {{ form_widget(edit_form.email, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-6">
                  {{ form_label(edit_form.direccion) }}
                  {{ form_widget(edit_form.direccion, {'attr': {'class':'form-control'}}) }}
              </div>
              <div class="col-md-12 ">
                  {{ form_label(edit_form.alumnos) }}
                  {{ form_widget(edit_form.alumnos, {'attr': {'class':'form-control '}}) }}
              </div>
              <div class="col-md-12 form-group">
                {{ form_label(edit_form.button) }}
                {{ form_widget(edit_form.button, {'attr': {'class':'form-control btn btn-primary col-md-12'}, 'label': 'Agregar Responsable'}) }}
              </div>
          {{ form_end(edit_form) }}
        </div>
      </div>


      <script type="text/javascript">
        $(document).ready(function() {
    			$('.datetimepicker9').datetimepicker({
    				viewMode: 'years',
    				format: 'DD/MM/YYYY'
    			});
        });
      </script>
    {% endblock %}

    {% block addJS %}
    <script type="text/javascript" src="{{ asset('bundles/js/chosen.jquery.min.js') }}"></script>
    {% endblock %}
