{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuota list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Borrado</th>
                <th>Anio</th>
                <th>Mes</th>
                <th>Numero</th>
                <th>Monto</th>
                <th>Tipo</th>
                <th>Comisioncobrador</th>
                <th>Fechaalta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuotum in cuotas %}
            <tr>
                <td><a href="{{ path('cuota_show', { 'id': cuotum.id }) }}">{{ cuotum.id }}</a></td>
                <td>{% if cuotum.borrado %}Yes{% else %}No{% endif %}</td>
                <td>{{ cuotum.anio }}</td>
                <td>{{ cuotum.mes }}</td>
                <td>{{ cuotum.numero }}</td>
                <td>{{ cuotum.monto }}</td>
                <td>{{ cuotum.tipo }}</td>
                <td>{{ cuotum.comisionCobrador }}</td>
                <td>{% if cuotum.fechaAlta %}{{ cuotum.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cuota_show', { 'id': cuotum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cuota_edit', { 'id': cuotum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cuota_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
